@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

:root {
    font-family: 'Montserrat', sans-serif;
    color: var(--color1);
    --main-bg-color: #181629;
    --color1: #140F07;
    --color2: #5f7162;
    --color3: #35b937;
    --color4: #76fe8f;
    --color5: #cef7dc;
    --bg_color: #8BEEC2;
    --white_color: #FFFFFE;
    --black_color: #151515;
    --secundary_color: #142426; 
    
}

.bodyLanding {
    display: flex;
    align-items: center;
    height: 100vh;
    background-image: url(../assets/side-wave_background\ \(1\).svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* background-attachment: fixed; */
    position: relative;
}

.cardLanding {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    max-height: 65%;
    padding: 50px;
    border-radius: 30px;
}

.title {
    text-align: center;
    font-size: 40px;
    color: var(--white_color);
}

.text {
    text-align: center;
    margin: 20px 0 20px 0;
    color: var(--white_color);
    font-size: 18px;
}

/* boton start */
.landingButton {
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 600;
    font-size: 20px;
    padding: 0.8em 1.3em 0.8em 0.9em;
    margin-top: 20px;
    color: var(--color1);
    background: linear-gradient(to right, var(--color5), var(--color4), var(--color4));
    /* background: linear-gradient(to right, #0f0c29, #302b63, #24243e); */
    border: none;
    letter-spacing: 0.05em;
    border-radius: 16px;
    cursor: pointer;
}

.landingButton svg {
    margin-left: 10px;
    transform: rotate(30deg);
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.landingButton span {
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.landingButton:hover svg {
    transform: translateX(5px) rotate(90deg);
}

.landingButton:hover span {
    transform: translateX(7px);
}

/* logo */
#logoLanding {
    width: 250px;
    position: absolute;
    top: 2%;
    right: 5%;
}