/* 
.likeordislike {
    display: flex;
    justify-content: center;
}
.like {
    display: hidden;
    --color: #00A97F;
    padding: 0.8em 1.7em;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 17px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
    margin-top: 20px;
    margin-bottom: 20px;
}
.like::before,
.like::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
}
.like::before {
    top: -1em;
    left: -1em;
}
.like::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
}
.like:hover::before,
.like:hover::after {
    height: 410px;
    width: 410px;
}
.like:hover {
    color: rgb(10, 25, 30);
}
.like:active {
    filter: brightness(.8);
}
.dislike {
    display: hidden;
    --color: #a90000;
    padding: 0.8em 1.7em;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 17px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
    margin-top: 20px;
    margin-bottom: 20px;
}
.dislike::before,
.dislike::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
}
.dislike::before {
    top: -1em;
    left: -1em;
}
.dislike::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
}
.dislike:hover::before,
.dislike:hover::after {
    height: 410px;
    width: 410px;
}
.dislike:hover {
    color: rgb(10, 25, 30);
}
.dislike:active {
    filter: brightness(.8);
} */