@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

:root {
    font-family: 'Montserrat', sans-serif;
    color: var(--color1);
    --main-bg-color: #181629;
    --color1: #140F07;
    --color2: #5f7162;
    --color3: #35b937;
    --color4: #76fe8f;
    --color5: #cef7dc;
    --bg_color: #8BEEC2;
    --withe_color: #FFFFFE;
    --black_color: #151515;
    --secundary_color: #142426; 
    
}